.idea/
.vscode/
recdoc/
data/
resources/*
modules/
configurations/*
!configurations/README.md
!resources/README.md
!resources/page_ocr_example.png
*.pyc
*.pt
*.pth
*.jit
*.onnx
*.zip
TODO.md
*/.ipynb_checkpoints/*
htmlcov
.pytest_cache
.mypy_cache
.coverage
**/__pycache__
main*.py
ocrmypdf
tests/test_resources
!tests/test_resources/download_resources.py
/env/
